*.class
.idea
.idea/
.idea/*
*.iml
*.ipr
*.iws
bin
bin/
bin/*
build
build/
build/*
build.gradle
build.xml
dist
dist/
dist/*
JGetInfo.iml
manifest.mf
nbproject
nbproject/
nbproject/*
.gradle
.gradle/
.gradle/*
/target/
